<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Ejs</title>
</head>
<body>
        <h1>Create Content ✍️</h1> <br>
    
        <form method="post" action="/posts"> 
            <input type="text" name="name" placeholder="Enter Your name"> <br> <br>
            <textarea name="content" id="" cols="30" rows="10" placeholder=" 
            Enter Your content"></textarea> <br><br>
            <button type="submit">Submit</button>
        </form>
</body>
</html>