<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>View 👀</h1>
    <div class="container">
        <h2>User Id : <%= post.id %></h2>
        <h3>Username @<%= post.name %></h3>
        <h4>Content : <%= post.content %></h4>
        <br>
    </div>
    <a href="http://localhost:3000/posts"><button>Back to home</button></a>
</body>
</html>